[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MSEtool"]
	path = MSEtool
	url = https://github.com/blue-matter/msetool
[submodule "openMSE"]
	path = openMSE
	url = https://github.com/blue-matter/openmse
[submodule "SAMtool"]
	path = SAMtool
	url = https://github.com/blue-matter/samtool
